.button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  text-transform: uppercase;
}
.zero {
  width: 125px;
  grid-column: 1 / span 2;
  border-radius: 30px;
  justify-content: start;
  padding-left: 20px;
}
.function {
  color: black;
  background-color: #a5a5a5;
}
.operator {
  background-color: #f1a33c;
}
