.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 290px;
  height: 570px;
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid #a5a5a5;
}
.top {
  height: 75px;
  padding: 0 10px;
}
.display {
  font-size: 65px;
  font-weight: 150;
  text-align: right;
  margin-bottom: 30px;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.bottom {
  height: 75px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 100px;
  height: 2px;
  background-color: #a5a5a5;
}
